
# Static files #
openeats/__pycache__/*
recipe/tests/__pycache__/*
static/admin
static/django_extensions
static/rest_framework

# Django default db #
db.sqlite3

data/*

# Django #
*.log
*.pot
*.pyc
__pycache__/*
db.sqlite3
media

# Backup files #
*.bak

# Visual Studio Code #
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# Pytest cache #
.pytest_cache/*
recipe/__pycache__/*
recipe/management/commands/__pycache__/*
recipe/migration/__pycache__/*
